<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <meta name="description" content="<%= description %>">
    <link rel="stylesheet" href="css/roda.css">
    <script src="/js/roda.js" defer></script>
  </head>
  <body class="<%= current_page %>">
    <%- unless current_page == 'index' -%>  
      <nav class='main'>
        <div class="contain">
        <%- %w(index documentation development github).map do |page| -%>
          
            <%- item = data(:site, :pages, page) -%>
            <%- item_class = 'active' if page == current_page -%>
            <a class="<%= [item_class, page].join(' ') %>" href="<%= item["url"] %>">
              <%= item["text"] -%>
            </a>
          
        <%- end -%>
        </div>
      </nav>
    <%- end -%>
    <div class="content"><%= content %></div>
    <footer class="bg-graydark white center">&copy; <%= Time.now.year %> <a href="<%= data(:site,:copyright_link) %>" target="_blank"><%= data(:site, :copyright) %></a></footer>
  </body>
</html>