<div class="contain">    
  <h1><%= data :docs, :title %></h1>

  <h2><a href="<%= data :docs, :readme, :path %>">README</a> <small>(<%= data :docs, :readme, :info %>)</small></h2>

  <h2 id="guides" class='section'>Guides</h2>
  <ul>
    <% data(:docs, :guides).map do |guide| %>
      <li><a href="<%= guide['path'] %>"><%= guide['name'] %></a></li>
    <% end %>
  </ul>
  <h2 id="rdoc"><a href="<%= data :docs, :rdoc, :path %>">RDoc</a> <small>(frames)</small></h2>
  <p><%= data :docs, :rdoc, :info %></p>
  <ul>
    <% data(:docs, :rdoc, :list).map do |doc| %>
    <li>
      <a href="http://roda.jeremyevans.net/rdoc/<%= doc['name'] %>">Roda <%= doc['name'] %></a> (<%= doc['info'] %>)
    </li>
    <% end %>
  </ul>

  <h2 id="plugins" class='section'>Plugins</h2>
  <p><%= data :docs, :plugins_info %></p>
  <h3 id="included-plugins"><%= data :docs, :included_plugins_info %></h3>
  <ul>
    <% data(:internal_plugins).map do |section| %>
    <li>
      <strong><%= section["name"] %></strong>
      <ul>
      <% section["list"].map do |plugin| %>
        <li><a href="http://roda.jeremyevans.net/rdoc/classes/Roda/RodaPlugins/<%= plugin["name"] %>.html"><%= plugin["name"] %></a>: <%= plugin["info"] %></li>
      <% end %>    
      </ul>
    </li>
    <% end %>
  </ul>

  <h2 id="external" class='section'>External Resources</h2>

  <h3 id="guides">Guides</h3>
  <ul>
    <% data(:docs, :external_guides).map do |guide| %>
    <li><a href="<%= guide['path'] %>"><%= guide['name'] %></a></li>
    <% end %>
  </ul>

  <h3>Plugins</h3>
  <p><%= data :docs, :external_plugins_info %>:</p>
  <ul>
    <% data(:external_plugins).map do |plugin| %>
    <li><a href="<%= plugin['path'] %>"><%= plugin['name'] %></a>: <%= plugin['info'] %></li>
    <% end %>
  </ul>

  <h3>Libraries</h3>

  <p><%= data :docs, :libraries_info %>:</p>

  <ul>
    <% data(:libraries).map do |lib| %>
      <li><a href="<%= lib['path'] %>"><%= lib['name'] %></a>: <%= lib['info'] %></li>
    <% end %>
  </ul>

  <h2><a href="rdoc/files/CHANGELOG.html">Change Log</a></h2>

  <h2 id="release-notes">Release Notes</h2>
  <ul>
    <% %w'3 2 1'.each do |i| %>
        <% 
           lines = []
           Dir["../doc/release_notes/#{i}.*.txt"].map{|f| File.basename(f)}.each do |f|
             (lines[f.split('.')[1].to_i/10] ||= []) << f
           end
           lines.reverse.each do |fs|
        %>
          <li>
            <%= fs.sort_by{|f| f.split('.').map{|x| x.to_i}}.reverse.map do |f|
              "<a href='rdoc/files/doc/release_notes/#{f.gsub('.', '_')}.html'>#{f.sub(/\.txt$/, '').sub(/(..)\.0$/, '\\1')}</a>"
               end.join(' | ') %>
          </li>
        <% end %>
    <% end %>
  </ul>

  <h2 id="license"><a href="rdoc/files/MIT-LICENSE.html">License</a></h2>

  <h2 class='section'>Resources</h2>

  <h2>Interviews</h2>

  <ul>
  <li><a href='http://devchat.tv/ruby-rogues/210-rr-roda-and-routing-trees-with-jeremy-evans'>Ruby Rogues 210: Roda and Routing Trees with Jeremy Evans</a></li>
  </ul>

  <h2>Books</h2>
  <ul>
    <% data(:docs,:books).map do |book| %>
    <li><a href='<%= book['path'] %>'><%= book['name'] %></a></li>
    <% end %>
  </ul>

  <h2 id="presentations">Presentations</h2>

  <ul>
    <li><a href="https://speakerdeck.com/janko_m/dynamic-routing-in-ruby">&quot;Dynamic routing in Ruby&quot;</a></li>
    <li><a href="http://code.jeremyevans.net/presentations/railsconf2015/index.html">&quot;Roda&quot; Lightning Talk at RailsConf 2015</a> (<a href="http://code.jeremyevans.net/presentations/railsconf2015b/index.html">4x3 version</a>)  (<a href="http://confreaks.tv/videos/railsconf2015-lightning-talks">Video</a>, starts about 33:16)</li>
    <li><a href="http://code.jeremyevans.net/presentations/mwrc2015/index.html">&quot;Better Routing Through Trees&quot; Presentation at MountainWest RubyConf 2015</a> (<a href="http://code.jeremyevans.net/presentations/mwrc2015b/index.html">4x3 version</a> (<a href="http://confreaks.tv/videos/mwrc2015-better-routing-through-trees">Video</a>)</li>
    <li><a href="http://code.jeremyevans.net/presentations/rubyconf2014/index.html">&quot;Roda: The Routing Tree Web Framework&quot; Presentation at RubyConf 2014</a> (<a href="http://code.jeremyevans.net/presentations/sacruby201411/index.html">4x3 Version</a>) (<a href="http://www.confreaks.com/videos/4833-RubyConf2014-roda-the-routing-tree-web-framework">Video</a>)</li>
  </ul>

  <h2 id="apps">Applications Using Roda</h2>

  <p><%= data :docs, :applications_title %>:</p>

  <ul>
    <% data(:applications).map do |app| %>
    <li><a href="<%= app['path'] %>"><%= app['name'] %></a> (<%= app['info'] %>)</li>
    <% end %>
  </ul>
</div>